{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <h1 style="text-align:center;">Orders</h1>
        {% if orders %}
          <hr class="intro-divider">
          <div class="center">
            <table id="orders-table" class="table table-responsive" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th> Order ID </th>
                  <th> User </th>
                  <th> Ammount </th>
                  <th> Created at </th>
                  <th> Last updated at </th>
                  <th> Cancelled </th>
                  <th> Status </th>
                  <th> Details </th>
                </tr>
              </thead>
              <tbody>
              {% for order in orders %}
              <tr>
                  <td> {{ order.id }} </td>
                  <td> {{ order.user.username }} </td>
                  <td align="left">&#x20AC; {{ order.total_ammount }} </td>
                  <td> {{ order.created_at.strftime('%d-%m-%Y %H:%M') }} </td>
                  <td> {{ order.updated_at.strftime('%d-%m-%Y %H:%M') }} </td>
                  <td> {{ 'Yes' if order.cancelled else 'No' }} </td>
                  <td> {{ order.status.name }}</td>
                  <td>
                    <a href="{{ url_for('customer.order_detail', id=order.id, u_id=order.user_id) }}">
                      <i class="fa fa-info"></i> Details
                    </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> There are currently no orders. </h3>
            <hr class="intro-divider">
        {% endif %}  
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('#orders-table').DataTable();
    } );
</script>
{% endblock %}
