{% extends "base.html" %}
{% block title %}Shopping Cart{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <h1 style="text-align:center;">Shopping Cart</h1>
        {% if products %}
            </br>
          <div class="center">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th width="20%"> Image </th>
                  <th width="20%"> Name </th>
                  <th width="20%"> Quantity </th>
                  <th width="20%"> Price </th>
                  <th width="20%"> Options </th>
                </tr>
              </thead>
              <tbody>
              {% for product in products %}
                <tr>
                        <td><img src="{{ url_for('static', filename='uploads/' + product.main_image) if product.main_image }}" style="max-width:100%" alt="{{ product.name }} Main Image"></td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.price }}&#x20AC;</td>
                  <td>
                    <a href="{{ url_for('shop.add_to_cart', id=product.id) }}">
                      <i class="fa fa-plus"></i>
                    </a>
                    <a href="{{ url_for('shop.remove_one_cart_item', id=product.id) }}">
                      <i class="fa fa-minus"></i>
                    </a> 
                    <a href="{{ url_for('shop.remove_cart_item', id=product.id) }}">
                      <i class="fa fa-trash"></i> Remove 
                    </a>
                  </td>
                </tr>
              {% endfor %}
                <tr>
                    <td>
                    <a href="{{ url_for('shop.index') }}" class="btn btn-default btn-md">
                <i class="fa fa-plus"></i>
                Add Another Product
            </a>

                    </td>
                    <td></td>
                    <td>Subtotal:</td>
                    <td>{{ total }}&#x20AC;</td>
                    <td><a href="{{ url_for('shop.empty_cart') }}">
                      <i class="fa fa-trash"></i> Empty 
                    </a>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Your shopping cart is empty. </h3>
            <hr class="intro-divider">
            <a href="{{ url_for('shop.index') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                Add Product
            </a>
        {% endif %}
        {% if products %}
          <script src="https://www.paypalobjects.com/api/checkout.js"></script>
          <div id="paypal-button-container" style="width:100%;"></div>
            <script>
    // Render the PayPal button
    paypal.Button.render({
        // Set your environment
        env: 'sandbox', // sandbox | production
        // Specify the style of the button
        style: {
            label: 'checkout', // checkout | credit | pay
            size:  'responsive',    // small | medium | responsive
            shape: 'rect',     // pill | rect
            color: 'blue'      // gold | blue | silver
        },
        // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function() {

                // Set up a url on your server to create the payment
                var CREATE_URL = "{{ url_for('payment.create')}}";

                // Make a call to your server to set up the payment
                return paypal.request.post(CREATE_URL)
                    .then(function(res) {
                        if (res.redirect_url){
                            window.location.replace(res.redirect_url);
                        }
                        else {
                             return res.paymentID;
                        }
                    });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {
                console.log(data);

                // Set up a url on your server to execute the payment
                var EXECUTE_URL = "{{url_for('payment.execute')}}";

                // Set up the data you need to pass to your server
                var data = {
                    paymentID: data.paymentID,
                    payerID: data.payerID
                };
                console.log(data);
                // Make a call to your server to execute the payment
                return paypal.request.post(EXECUTE_URL, {
                    paymentID: data.paymentID,
                    payerID: data.payerID,
                }).then(function (res) {
                     window.location.replace(res.redirect_url);
                });
            }
    }, '#paypal-button-container');
</script>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
