{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %} 
        <div class="row"> 
            <div class="col-lg-3">
                <form class="input-group" action="/" method="GET">
                        <input type="text" class="form-control" name="search" placeholder="{{ search if search else 'Search for...'}}">
                    <span class="input-group-btn">
                            <button type="submit" class="btn btn-outline-info" type="button">Go!</button>
                    </span>
                </form>
                <br/>
                {% if categories %}
                <div class="list-group">
                        <li class="list-group-item"><h5>Category</h5></li>
                    {% for cat in categories %}
                    <a href="{{ url_for('shop.index', category=cat.name, sort=sort, search=search) }}" class="list-group-item list-group-item-action {{ 'list-group-item-info' if category == cat.name }}">{{cat.name}}</a>
                    {% endfor %}
                </div>
                {% endif %}
                <br/>
                <div class="dropdown {{'show' if sort}}">
                <a class="btn btn-secondary dropdown-toggle" style="width:100%;" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</a>
                <div class="dropdown-menu" style="width:100%;" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item {{ 'active' if sort == 'price_desc'}}" href="{{ url_for('shop.index', sort='price_desc', category=category, search=search)}}">Price (Most Expensive First)</a>
                    <a class="dropdown-item {{ 'active' if sort == 'price_asc'}}" href="{{ url_for('shop.index', sort='price_asc', category=category, search=search)}}">Price (Least Expensive First)</a>
                    <a class="dropdown-item {{ 'active' if sort == 'name_asc'}}" href="{{ url_for('shop.index', sort='name_asc', category=category, search=search)}}">Product name (A-Z)</a>
                    <a class="dropdown-item {{ 'active' if sort == 'name_desc'}}" href="{{ url_for('shop.index', sort='name_desc', category=category, search=search)}}">Product name (Z-A)</a>
                  </div>
                </div> 
                </br>
            </div>
            <div class="col-lg-9">
                {% if products %}
                    <div class="row">
                    {% for product in products %}
                    <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="card" style="">
                            <img class="card-img-top" src="{{ url_for('static', filename='uploads/' + product.main_image) if product.main_image }}"  style="width:100%; height:200px"  alt="{{ product.name }} Main Image">
                            <div class="card-block">
                                <h4 class="card-titile"><a href="#">{{ product.name }}</a>
                                </h4>
                                <h4 class="">&#x20AC;{{ product.price }}</h4>
                                <p class="card-text">{{ product.description[:80] }}...</p>
                                {% if product.quantity > 0 %}
                                <a href="cart/add/{{product.id}}" class="btn btn-outline-primary btn-sm">
                                    <span class="fa fa-shopping-cart"></span> Add to cart
                                </a>
                                {% else %}
                                <a href="#" class="btn btn-outline-danger btn-sm disabled">
                                    <span class="fa fa-shopping-cart"></span> Unavailable
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    {% else %}
                    <div class="center">
                        <div class="alert alert-warning" role="alert">
                        <strong>No results found!</strong> Please try again.</div>
                    </div>
                    {% endif %}
            </div>
        </div>
{% endblock %}
