{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %} 
        <div class="row"> 
            <div class="col-lg-3">
                <form class="input-group" action="/" method="GET">
                    <input type="text" class="form-control" name="search" placeholder="Search for...">
                    <span class="input-group-btn">
                            <button type="submit" class="btn btn-outline-success" type="button">Go!</button>
                    </span>
                </form>
                <br/>
                {% if categories %}
                <div class="list-group">
                    {% for category in categories %}
                    <a href="/?category={{category.name}}" class="list-group-item">{{category.name}}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-lg-9">
                {% if products %}
                    <div class="row">
                    {% for product in products %}
                    <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="card" style="">
                            <img class="card-img-top" src="{{ url_for('static', filename='uploads/' + product.main_image) if product.main_image }}"  style="width:100%; height:200px"  alt="{{ product.name }} Main Image">
                            <div class="card-block">
                                <h4 class="card-titile"><a href="#">{{ product.name }}</a>
                                </h4>
                                <h4 class="">&#x20AC;{{ product.price }}</h4>
                                <p class="card-text">{{ product.description[:80] }}...</p>
                                {% if product.quantity > 0 %}
                                <a href="cart/add/{{product.id}}" class="btn btn-outline-primary btn-sm">
                                    <span class="fa fa-shopping-cart"></span> Add to cart
                                </a>
                                {% else %}
                                <a href="#" class="btn btn-outline-warning btn-sm disabled">
                                    <span class="fa fa-shopping-cart"></span> Unavailable
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    {% else %}
                    <div class="center">
                        <div class="alert alert-warning" role="alert">
                        <strong>No results found!</strong> Please try again.</div>
                    </div>
                    {% endif %}
            </div>
        </div>
{% endblock %}
