{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Admin Dashboard</h1>
          <hr class="intro-divider">
          <p>This page may contain summary data. In example, number of visitors, number of customers, number of orders, products, etc.</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
