{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>The Personalized Shop Page</h1>
                    <hr class="intro-divider">
                    <p>This will display last purchases and (possibly) items that might be of interest to the customer.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
