{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block body %}
<div class="content-section">
  <br/>
    {{ utils.flashed_messages() }}
  <br/>
 <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('customer.orders')}}">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Something else</a>
  </li>
 </ul> 
  <div class="center">
    <br/>
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
