{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Payment Details{% endblock %}
{% block body %}
<div class="content-section">
  <h1 style="text-align:center;">Order #{{order.id}}</h1>
  <hr class="intro-divider">
  <div class="order-details">
  <h3>Details</h3>
  </br>
  <div class="row">
  <div class="col-md-6">
    <dl class="row">
    <dt class="col-sm-4">Order ID</dt>
    <dd class="col-sm-8">{{order.id}}</dd>

    <dt class="col-sm-4">Order created</dt>
    <dd class="col-sm-8">{{ order.created_at.strftime('%d-%m-%Y %H:%M') }} </dd>

    <dt class="col-sm-4">Order last updated</dt>
    <dd class="col-sm-8">{{ order.updated_at.strftime('%d-%m-%Y %H:%M') }} </dd>
    
    <dt class="col-sm-4">Payment type</dt>
    <dd class="col-sm-8">PayPal</dd>

    <dt class="col-sm-4">Payment ID</dt>
    <dd class="col-sm-8">{{order.payment_id}}</dd>
   
    <dt class="col-sm-4">Payment state</dt>
    <dd class="col-sm-8">{{payment_state}}</dd>

    <dt class="col-sm-4">Status</dt>
    <dd class="col-sm-8"><div class="alert alert-{% if order.status.name == 'Completed' %}success{% elif order.status.name == 'Failed' or order.status.name == 'Cancelled' %}danger{% elif order.status.name == 'Refunded' %}info{% else %}warning{% endif %}" role="alert"><strong>{{order.status.name}}</strong> ({{order.status.description}})<div></dd>

  </dl>
  </br>
  </div>
  <div class="col-md-6">
  <div class="order-shipping-address">
  <dl class="row">
    <dt class="col-sm-4">Recipient name</dt>
    <dd class="col-sm-8">{{shipping_address.recipient_name or '-'}}</dd>

    <dt class="col-sm-4">Address line 1</dt>
    <dd class="col-sm-8">{{shipping_address.line1 or '-'}} </dd>

    <dt class="col-sm-4">Address line 2</dt>
    <dd class="col-sm-8">{{shipping_address.line2 or '-'}} </dd>


    <dt class="col-sm-4">City</dt>
    <dd class="col-sm-8">{{shipping_address.city or '-'}}</dd>
    
    <dt class="col-sm-4">State</dt>
    <dd class="col-sm-8">{{shipping_address.state or '-'}}</dd>

    <dt class="col-sm-4">Phone</dt>
    <dd class="col-sm-8">{{shipping_address.phone or '-'}}</dd>
    
    <dt class="col-sm-4">Poscode</dt>
    <dd class="col-sm-8">{{shipping_address.postal_code or '-'}}</dd>
    
    <dt class="col-sm-4">Country</dt>
    <dd class="col-sm-8">{{shipping_address.country_code or '-'}}</dd>

  </dl>
  </br>
  </div>
  </div>
  </div>
  <div class="order-items">
    <div class="table-responsive">
    <table class="table">
      <tbody>
        {% for item in order.items %}
        <tr>
          <td width="25%"><img src="{{ url_for('static', filename='uploads/' + item.product.main_image) if item.product.main_image }}" style="max-width:100%" alt="{{ item.product.name }} Main Image"></td>
          <td width="25%">{{ item.product.name }}</td>
          <td width="25%">{{ item.quantity }}</td>
          <td width="25%">&#x20AC; {{ item.price*item.quantity }}(&#x20AC; {{ item.price  }} per item)</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td>Subtotal:</td>
          <td>&#x20AC; {{ order.total_ammount }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
    {% if current_user.is_authenticated and current_user.user_role=='customer'%}
    {% if not order.cancelled %}
    <a style="align:center;" href="{{ url_for('customer.cancel_order', id=order.id) }}" class="btn btn-default btn-lg">
            <i class="fa fa-euro"></i>
            Request refund
    </a>
    {% else %}
    <div class="alert alert-warning" role="alert">
            You have submitted a request to cancel this order.
    </div>
    {% endif %}

    <a style="align:center;" href="{{ url_for('customer.orders') }}" class="btn btn-default btn-lg">
            <i class="fa fa-truck"></i>
            Back to orders
    </a>
    {% elif current_user.is_authenticated and current_user.user_role=='admin'%}
        {% if order.cancelled and order.status.name != 'Refunded' %}
        <div class="alert alert-warning" role="alert">
            The customer has submitted a request to cancel this order.
        </div>
        {% endif %}
        {% if order.status.name != 'Refunded' %}
        <a style="align:center;" href="{{ url_for('admin.refund_order', id=order.id) }}" class="btn btn-default btn-lg">
            <i class="fa fa-university"></i>
            Refund
         </a>
         {% endif %}
         {% if order.status.name == 'Pending payment' %}
        <a style="align:center;" href="{{ url_for('admin.remove_order', id=order.id) }}" class="btn btn-default btn-lg">
            <i class="fa fa-trash"></i>
            Delete
         </a>
        {% endif %}
        {{ wtf.quick_form(form) }}
    {% endif %}
    {% if current_user.is_anonymous and session['guest'] %}
        <a style="align:center;" href="{{ url_for('customer.register_guest', id=order.id) }}" class="btn btn-default btn-lg">
            <i class="fa fa-user"></i>
            Register for an account
         </a>
    {% endif %}
</div>
{% endblock %}
