{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Payment Details{% endblock %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <h1 style="text-align:center;">Order #{{order.id}}</h1>
  <hr class="intro-divider">
  <div class="order-details">
  <h3>Details</h3>
  </br>
  <div class="row">
  <div class="col-md-6">
    <dl class="row">
    <dt class="col-sm-3">Order ID</dt>
    <dd class="col-sm-9">{{order.id}}</dd>

    <dt class="col-sm-3">Order created</dt>
    <dd class="col-sm-9">{{ order.created_at.strftime('%d-%m-%Y %H:%M') }} </dd>

    <dt class="col-sm-3">Order last updated</dt>
    <dd class="col-sm-9">{{ order.created_at.strftime('%d-%m-%Y %H:%M') }} </dd>
    
    <dt class="col-sm-3">Payment type</dt>
    <dd class="col-sm-9">PayPal</dd>

    <dt class="col-sm-3">Payment ID</dt>
    <dd class="col-sm-9">{{order.payment_id}}</dd>
    
    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9"><div class="alert alert-warning" role="alert"><strong>{{order.status.name}}</strong> ({{order.status.description}})<div></dd>

  </dl>
  </br>
  </div>
  <div class="col-md-6">
  <div class="order-shipping-address">
  <dl class="row">
    <dt class="col-sm-3">Recipient name</dt>
    <dd class="col-sm-9">{{shipping_address.recipient_name}}</dd>

    <dt class="col-sm-3">Address line 1</dt>
    <dd class="col-sm-9">{{shipping_address.line1}} </dd>

    <dt class="col-sm-3">Address line 2</dt>
    <dd class="col-sm-9">{{shipping_address.line2 or '-'}} </dd>


    <dt class="col-sm-3">City</dt>
    <dd class="col-sm-9">{{shipping_address.city}}</dd>
    
    <dt class="col-sm-3">State</dt>
    <dd class="col-sm-9">{{shipping_address.state}}</dd>

    <dt class="col-sm-3">Phone</dt>
    <dd class="col-sm-9">{{shipping_address.phone}}</dd>
    
    <dt class="col-sm-3">Poscode</dt>
    <dd class="col-sm-9">{{shipping_address.postal_code}}</dd>
    
    <dt class="col-sm-3">Country</dt>
    <dd class="col-sm-9">{{shipping_address.country_code}}</dd>

  </dl>
  </br>
  </div>
  </div>
  </div>
  <div class="order-items">
    <div class="table-responsive">
    <table class="table">
      <!--<thead>
      <tr>
        <th width="25%"> Image </th>
        <th width="25%"> Name </th>
        <th width="25%"> Quantity </th>
        <th width="25%"> Price </th>
      </tr>
      </thead>--!>
      <tbody>
        {% for item in order.items %}
        <tr>
          <td width="25%"><img src="{{ url_for('static', filename='uploads/' + item.product.main_image) if item.product.main_image }}" style="max-width:100%" alt="{{ item.product.name }} Main Image"></td>
          <td width="25%">{{ item.product.name }}</td>
          <td width="25%">{{ item.quantity }}</td>
          <td width="25%">{{ item.price*item.quantity }}&#x20AC; ({{ item.price  }}&#x20AC; per item)</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td>Subtotal:</td>
          <td>{{ order.total_ammount }}&#x20AC;</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
    {% if current_user.is_authenticated %}
    <a style="align:center;" href="{{ url_for('customer.orders') }}" class="btn btn-default btn-lg">
            <i class="fa fa-truck"></i>
            View All Orders
    </a>
    {% endif %}
</div>
{% endblock %}
