{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block body %}
<div class="content-section">
 <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('customer.account')}}">Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Something else</a>
  </li>
 </ul> 
  <div class="center">
    <br/>
    <table class="table table-responsive">
        <thead>
           <tr>
             <th width="20%">Order number</th>
             <th width="20%">Created at</th>
             <th width="20%">Ammount</th>
             <th width="20%">Status</th>
             <th width="20%">Details</th>
            </tr>
              </thead>
              <tbody>
              {% for order in orders %}
              <tr>
                  <td> {{ order.id }} </td>
                  <td> {{ order.created_at.strftime('%d-%m-%Y %H:%M') }} </td>
                  <td> {{order.total_ammount}} </td>
                  <td> <div class="alert alert-{% if order.status.name == 'Completed' %}success{% elif order.status.name == 'Failed' or order.status.name == 'Cancelled' %}danger{% else %}warning{% endif %}" role="alert">{{order.status.name}}<div></td>
                  <td>
                    <a href="{{ url_for('customer.order_detail', id=order.id) }}">
                      <i class="fa fa-info"></i> Details
                    </a>
                  </td>

              </tr>
              {% endfor %}
              </tbody>
        </table>
  </div>
</div>
{% endblock %}
