{% extends "base.html" %}
{% block title %}Inventory{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <h1 style="text-align:center;">Products</h1>
        {% if products %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th width="20%"> Image </th>
                  <th width="10%"> Name </th>
                  <th width="10%"> Quantity </th>
                  <th width="30%"> Description </th>
                  <th width="10%"> Price </th>
                  <th width="10%"> Edit </th>
                  <th width="10%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for product in products %}
                <tr>
                        <td><img src="{{ url_for('static', filename='uploads/' + product.main_image) if product.main_image }}" style="max-width:100%" alt="{{ product.name }} Main Image"></td>
                  <td> {{ product.name }} </td>
                  <td> {{ product.quantity }} </td>
                  <td> {{ product.description }} </td>
                  <td> {{ product.price}}	&#x20AC;</td>
                  <td>
                    <a href="{{ url_for('admin.edit_product', id=product.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_product', id=product.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No products have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_product') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Product
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
