<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }} | eShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('home.homepage') }}">E-commerce Website</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item {{ 'active' if request.path == '/dashboard' }}">
            <a class="nav-link" href="{{ url_for('home.dashboard') }}">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-link"><a><i class="fa fa-user"></i>  Hi, {{ current_user.first_name }}!</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
          {% else %}    
          <li class="nav-item {{ 'active' if request.path == '/' }}">
            <a class="nav-link" href="{{ url_for('home.homepage') }}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {{ 'active' if request.path == '/register' }}">
            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
          </li>
          <li class="nav-item {{ 'active' if request.path == '/login' }}">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link disabled" href="#">My Cart</a>
          </li> 
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav> 
    <div class="container">
      <div class="mt-3">
            <div class="wrapper">
              {% block body %}
              {% endblock %}
              <div class="push"></div>
       </div>      
      </div>
    </div>
    <footer class="footer">
      <div class="container"> 
        <span class="text-muted">Copyright © 2017. All Rights Reserved</span>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
